.git
.github
node_modules
vendor
public/build
public/storage
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
database/*.sqlite-journal
.env
.env.*
!.env.production.example
tests
phpunit.xml
README.md
